@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Montserrat:wght@400;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sono:wght@300&display=swap');

body {
    // font-family: 'Delicious Handrawn', cursive;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'PT Serif', serif;
    // font-family: 'Sono', sans-serif;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}